{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    {% tailwind_css %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-...replace_with_integrity_code_here...="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      .profile-dropdown {
        display: none;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 10;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        transition: all 0.3s;
      }

      .profile:hover .profile-dropdown {
        display: block;
      }

      .profile:hover .profile-dropdown {
        background-color: #f9fafb;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-purple-600 p-4">
      <div class="flex justify-between items-center">
        <h1 class="text-white text-xl font-bold">
          Electronic Management System
        </h1>
        <!--notification-->
        <div class="flex items-center">
          <div class="profile relative mr-4">
            
            <img
              src="{% static 'images/notification.png' %}"
              alt="notification Image"
              class="rounded-full w-10 h-10 cursor-pointer"
            />
            
          </div>
          <!--profile icon-->
        <div class="flex items-center">
          <div class="profile relative mr-4">
            
            <img
              src="{% static 'images/user.png' %}"
              alt="Profile Image"
              class="rounded-full w-10 h-10 cursor-pointer"
            />
            <div
              class="profile-dropdown absolute shadow-md rounded-md py-2 right-0 mt-2 w-48"
            >
              <a
                href="#"
                class="block px-4 py-2 text-gray-800 hover:bg-purple-600 hover:text-white"
                >View Profile</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-gray-800 hover:bg-purple-600 hover:text-white"
                >Update Profile</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-gray-800 hover:bg-purple-600 hover:text-white"
                >Reset Password</a
              >
            </div>
          </div>
          <a
            class="bg-red-500 text-white py-2 px-4 rounded-md cursor-pointer"
            href="{% url 'user-logout' %}"
            >Logout</a
          >
        </div>
      </div>
    </nav>

    <!-- Dashboard Content -->
    <div class="container mx-auto mt-8 px-4">
      <h2 class="text-2xl font-semibold mb-4">Dashboard Overview</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        <!-- Patient Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fas fa-user-md text-blue-500 text-3xl"></i>
            <h3 class="text-lg font-semibold mb-2">Number of Patients</h3>
            <p class="text-gray-600">1000</p>
          </div>
        </div>
        <!-- Doctor Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fas fa-user-md text-green-500 text-3xl"></i>
            <h3 class="text-lg font-semibold mb-2">Number of Doctors</h3>
            <p class="text-gray-600">50</p>
          </div>
        </div>
        <!-- Nurse Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fas fa-user-nurse text-red-500 text-3xl"></i>
            <h3 class="text-lg font-semibold mb-2">Number of Nurses</h3>
            <p class="text-gray-600">80</p>
          </div>
        </div>
        <!-- Available Beds Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fas fa-bed text-purple-500 text-3xl"></i>
            <h3 class="text-lg font-semibold mb-2">Available Beds</h3>
            <p class="text-gray-600">150</p>
          </div>
        </div>
      </div>
    </div>

    <!--user modules-->
    <!-- Dashboard Content -->
    <div class="container mx-auto mt-8 px-4 bg-blue-900 rounded-md">
      <h2 class="text-white text-2xl font-bold mb-4">User Modules</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        <!-- Patient Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fa-solid fa-user-nurse text-blue-500 text-3xl"></i>
            <h3 class="text-lg font-semibold mb-2">Nurse Station</h3>
            <a
                class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
                href="#"
                >View module</a
              >
          </div>
        </div>
        <!-- Records Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fa-solid fa-folder text-green-500 text-3xl"></i>
            <h3 class="text-lg font-semibold mb-2">Health Information</h3>
            <a
                class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
                href="{% url 'patient-records' %}"
                >View module</a
              >
          </div>
        </div>
        <!-- Nurse Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fa-solid fa-vial text-red-500 text-3xl"></i>
         
            <h3 class="text-lg font-semibold mb-2">Laboratory</h3>
            <a
                class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
                href="#"
                >View module</a
              >
          </div>
        </div>
        <!-- Available Beds Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fa-solid fa-user-doctor  text-purple-500 text-3xl"></i>
            <h3 class="text-lg font-semibold mb-2">Doctors Module</h3>
            <a
                class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
                href="#"
                >View module</a
              >
          </div>
        </div>

        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fa-solid fa-user-nurse text-blue-500 text-3xl"></i>
            <h3 class="text-lg font-semibold mb-2">Nurse Station</h3>
            <a
                class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
                href="#"
                >View module</a
              >
          </div>
        </div>
        <!-- Records Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fa-solid fa-folder text-green-500 text-3xl"></i>
            <h3 class="text-lg font-semibold mb-2">Health Information</h3>
            <a
                class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
                href="{% url 'patient-records' %}"
                >View module</a
              >
          </div>
        </div>
        <!-- Nurse Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fa-solid fa-vial text-red-500 text-3xl"></i>
         
            <h3 class="text-lg font-semibold mb-2">Laboratory</h3>
            <a
                class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
                href="#"
                >View module</a
              >
          </div>
        </div>
        <!-- Available Beds Card -->
        <div
          class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
        >
          <div>
            <i class="fa-solid fa-user-doctor  text-purple-500 text-3xl"></i>
            <h3 class="text-lg font-semibold mb-2">Doctors Module</h3>
            <a
                class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
                href="#"
                >View module</a
              >
          </div>
        </div>
      </div>
      <br>
  </div>
  </body>
</html>
