{% extends 'patient_records/base.html' %} {% block body %}

<!-- Dashboard Content -->
<div class="container mx-auto mt-8 px-4">
  <h2 class="text-2xl font-semibold mb-4">Dashboard Overview</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <!-- Patient Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fas fa-user-md text-blue-500 text-3xl"></i>
        <h3 class="text-lg font-semibold mb-2">Number of Patients</h3>
        <p class="text-gray-600">1000</p>
      </div>
    </div>
    <!-- Doctor Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fas fa-user-md text-green-500 text-3xl"></i>
        <h3 class="text-lg font-semibold mb-2">Number of Doctors</h3>
        <p class="text-gray-600">50</p>
      </div>
    </div>
    <!-- Nurse Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fas fa-user-nurse text-red-500 text-3xl"></i>
        <h3 class="text-lg font-semibold mb-2">Number of Nurses</h3>
        <p class="text-gray-600">80</p>
      </div>
    </div>
    <!-- Available Beds Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fas fa-bed text-purple-500 text-3xl"></i>
        <h3 class="text-lg font-semibold mb-2">Available Beds</h3>
        <p class="text-gray-600">150</p>
      </div>
    </div>
  </div>
</div>

<!--user modules-->
<!-- Dashboard Content -->
<div class="container mx-auto mt-8 px-4 bg-blue-900 rounded-md">
  <h2 class="text-white text-2xl font-bold mb-4">User Modules</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <!-- Patient Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fa-solid fa-user-nurse text-blue-500 text-3xl"></i>
        <h3 class="text-lg font-semibold mb-2">Departments</h3>
        <a
          class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
          href="{% url 'departments' %}"
          >View module</a
        >
      </div>
    </div>
    <!-- Records Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fa-solid fa-folder text-green-500 text-3xl"></i>
        <h3 class="text-lg font-semibold mb-2">Health Informatics</h3>
        <a
          class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
          href="{% url 'patient-records' %}"
          >View module</a
        >
      </div>
    </div>
    <!-- Nurse Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fa-solid fa-vial text-red-500 text-3xl"></i>

        <h3 class="text-lg font-semibold mb-2">Laboratory</h3>
        <a
          class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
          href="#"
          >View module</a
        >
      </div>
    </div>
    <!-- Available Beds Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fa-solid fa-user-doctor text-purple-500 text-3xl"></i>
        <h3 class="text-lg font-semibold mb-2">Doctors Module</h3>
        <a
          class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
          href="{% url 'consultingroom' %}"
          >View module</a
        >
      </div>
    </div>

    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fa-solid fa-user-nurse text-blue-500 text-3xl"></i>
        <h3 class="text-lg font-semibold mb-2">Services</h3>
        <a
          class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
          href="{% url 'services' %}"
          >View module</a
        >
      </div>
    </div>
    <!-- Records Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fa-solid fa-folder text-green-500 text-3xl"></i>
        <h3 class="text-lg font-semibold mb-2">Human Resource</h3>
        <a
          class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
          href="{% url 'humanresource' %}"
          >View module</a
        >
      </div>
    </div>
    <!-- Nurse Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fa-solid fa-user-nurse text-green-500 text-3xl"></i>

        <h3 class="text-lg font-semibold mb-2">Nurse Station</h3>
        <a
          class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
          href="{% url 'nursestation' %}"
          >View module</a
        >
      </div>
    </div>
    <!-- Available Beds Card -->
    <div
      class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
    >
      <div>
        <i class="fa-solid fa-user-doctor text-purple-500 text-3xl"></i>
        <h3 class="text-lg font-semibold mb-2">Doctors Module</h3>
        <a
          class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
          href="#"
          >View module</a
        >
      </div>
    </div>
  </div>
  <br />
</div>
{% endblock %}
