{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    {% tailwind_css %}
  </head>
  <body class="bg-gray-300">
    <!-- Image Card -->
    <div class="container mx-auto mt-8">
      <div
        class="max-w-lg mx-auto bg-white shadow-md rounded-lg overflow-hidden"
      >
        <img
          class="w-full h-64 object-cover object-center"
          src="{% static '/images/ghana_flag.png' %}"
          alt="Image"
        />
        <div class="p-6">
          <h2 class="text-2xl font-semibold mb-4">Welcome Back!</h2>
          <!-- Login Form -->
          <div class="container mx-auto mt-8">
            <h1 class="text-2xl font-semibold mb-4">Login Here</h1>

            <form method="POST" autocomplete="off" class="space-y-5">
              {% csrf_token %} {{ loginform.as_p }}
              <input
                type="submit"
                value="Login"
                class="bg-blue-500 text-white py-2 px-4 rounded-md cursor-pointer"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
