{% extends 'patient_records/base.html' %} {% block body %}

<h2 class="text-2xl font-bold mb-4 text-center">Book Appointment</h2>
<!--Tabs navigation-->
<div class="flex flex-wrap justify-center gap-1 mb-4 w-full">
  <button
    class="active tablinks tab-btn p-4 rounded-lg text-gray-700 font-bold w-80 hover:bg-green-600 border-indigo-400 bg-purple-400"
  >
    <a href="{% url 'view' %}">View New appointments</a>
  </button>
  <button
    class="tablinks tab-btn p-4 rounded-lg text-gray-700 font-bold w-80 hover:bg-green-600 border-gray-400 bg-blue-400"
  >
    <a href="{% url 'book' %}">Add new appointment</a>
  </button>
  <button
    class="tablinks tab-btn p-4 rounded-lg text-gray-700 font-bold w-80 hover:bg-green-600 border-gray-400 bg-purple-400"
  >
    <a href="#">Statistics</a>
  </button>
</div>

<div class="container mx-auto mt-8">
  <div class="card bg-white rounded-lg shadow-md p-8">
    <h2 class="text-2xl font-bold mb-4">
      <i class="fas fa-calendar-plus text-blue-500"></i> Update Appointment
    </h2>

    <form id="book-appointment-form" method="POST">
      {% csrf_token %}
      <div class="grid grid-cols-2 gap-4">
        <!-- Patient Information -->
        <div class="form-group">
          <label
            for="{{ form.patient.id_for_label }}"
            class="block font-semibold"
            >Patient</label
          >
          {{ form.patient }}
        </div>
        <!-- Doctor -->
        <div class="form-group">
          <label
            for="{{ form.doctor.id_for_label }}"
            class="block font-semibold"
            >Doctor</label
          >
          {{ form.doctor }}
        </div>
        <!-- Type of Service -->
        <div class="form-group">
          <label
            for="{{ form.type_of_service.id_for_label }}"
            class="block font-semibold"
            >Type of Service</label
          >
          {{ form.type_of_service }}
        </div>
        <!-- Date of Appointment -->
        <div class="form-group">
          <label
            for="{{ form.date_of_appointment.id_for_label }}"
            class="block font-semibold"
            >Date of Appointment</label
          >
          {{ form.date_of_appointment }}
        </div>

        <div class="form-group">
          <label for="{{ form.SPO2.id_for_label }}" class="block font-semibold"
            >SPO2</label
          >
          {{ form.SPO2 }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.respiratory_rate.id_for_label }}"
            class="block font-semibold"
            >Respiratory Rate</label
          >
          {{ form.respiratory_rate }}
        </div>
        <div class="form-group">
          <label for="{{ form.pulse.id_for_label }}" class="block font-semibold"
            >Pulse</label
          >
          {{ form.pulse }}
        </div>
        <div class="form-group">
          <label for="{{ form.RBS.id_for_label }}" class="block font-semibold"
            >RBS</label
          >
          {{ form.RBS }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.weight.id_for_label }}"
            class="block font-semibold"
            >Weight</label
          >
          {{ form.weight }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.height.id_for_label }}"
            class="block font-semibold"
            >Height</label
          >
          {{ form.height }}
        </div>
        <div class="form-group">
          <label for="{{ form.BP.id_for_label }}" class="block font-semibold"
            >BP</label
          >
          {{ form.BP }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.temperature.id_for_label }}"
            class="block font-semibold"
            >Temperature</label
          >
          {{ form.temperature }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.reason_of_appointment.id_for_label }}"
            class="block font-semibold"
            >Reason of appointment</label
          >
          {{ form.reason_of_appointment }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.status_of_appointment.id_for_label }}"
            class="block font-semibold"
            >Status of Appointment</label
          >
          {{ form.status_of_appointment }}
        </div>
      </div>
      <div class="flex justify-end mt-6 space-x-3">
        <button
          id="submit-btn"
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Update Appointment
        </button>
        <a
          href="{% url 'view' %}"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        >
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#id_patient").select2();
    $("#id_doctor").select2();
    $("#id_type_of_service").select2();
  });
</script>
{% endblock %}
