{% extends 'patient_records/base.html' %} {% load static tailwind_tags %} {%
load widget_tweaks %} {% block body %}

<!-- PATIENT PROFILE -->

<!-- PATIENT PROFILE CARD -->
<div
  class="container mx-auto mt-8 px-4 bg-white rounded-xl shadow-md overflow-hidden"
>
  <div class="md:flex">
    <div class="md:flex-shrink-0">
      <img
        class="h-48 w-full object-cover md:w-48"
        src="/static/images/user.png"
        alt="Patient Image"
      />
    </div>

    <div class="p-8 md:grid grid-cols-2 gap-x-4">
      <div class="text-gray-900">
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
        >
          Patient ID:
          <strong class="text-2xl">{{ patient_record.patient_id }}</strong>
        </div>
        <strong class="text-2xl text-green-700">{{ patient_record.first_name }} {{ patient_record.last_name }}</strong>
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
        >
          Doctor Assigned to: {{ appointment.doctor }}
        </div>
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
        >
          Gender: {{ patient_record.gender }}
        </div>
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
        >
          Age: {{ patient_record.age }} {{ patient_record.age_type }}
        </div>
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
        >
          Client Status: {{ patient_record.client_status }}
        </div>
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
        >
          Date of last visit: {{ patient_record.date_of_visit }}
        </div>
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
        >
          NHIS Number: {{ patient_record.NHIS_number }}
        </div>
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
        >
          Client type: {{ patient_record.client_type }}
        </div>
        
        <!-- Other patient details -->
      </div>
      <a
        href="{% url 'edit' patient_record.id %}"
        class="text-blue-600 hover:text-blue-900 mr-2"
        ><i class="fa-solid fa-pen-to-square fa-2x"></i>
      </a>
      <a
          href="{% url 'view-patient' patient_record.id %}"
          class="text-indigo-600 hover:text-indigo-900 mr-2"
          ><i class="fa-solid fa-circle-info fa-2x"></i
        ></a>
      <!-- Edit and Go back buttons -->
    </div>
    <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
        >
          SPO2: {{ appointment.SPO2 }}
        </div>
  </div>
  
</div>

<!-- ADD DIAGNOSIS AND LAB TESTS -->

<div class="container mx-auto mt-8">
  <div class="card bg-white rounded-lg shadow-md p-8">
    <!-- Diagnosis form -->
    <h2 class="text-2xl font-bold mb-4">
      <i class="fas fa-pen-square text-blue-500"></i> Add New Diagnosis
    </h2>
    <form id="add-diagnosis-form" method="POST" class="grid grid-cols-2 gap-4">
      {% csrf_token %}
      <div class="grid grid-cols-2 gap-4">
        {{ diagnosis_form.non_field_errors }}
        <div class="form-group">
          <label for="id_date_of_diagnosis" class="block font-semibold"
            >Date of diagnosis</label
          >
          {{ diagnosis_form.date_of_diagnosis }}
        </div>
        <!-- Add other diagnosis form fields here -->
        <div class="form-group">
          <label for="id_pregnant_patient" class="block font-semibold"
            >Is patient pregnant</label
          >
          {{ diagnosis_form.pregnant_patient }}
        </div>
      </div>
      <div class="form-group">
        <label for="id_provisional_diagnosis" class="block font-semibold"
          >Provisional diagnosis</label
        >
        {{ diagnosis_form.provisional_diagnosis }}
      </div>
      <!--another set-->
      <div class="grid grid-cols-2 gap-4">
        <div class="form-group">
          <label for="id_age" class="block font-semibold">Age</label>
          {{ diagnosis_form.age }}
        </div>
        <!-- Add other diagnosis form fields here -->
        <div class="form-group">
          <label for="id_age_type" class="block font-semibold"
            >Age In days/months/years</label
          >
          {{ diagnosis_form.age_type }}
        </div>
      </div>
      <div class="form-group">
        <label for="id_age_group" class="block font-semibold">Age groups</label>
        {{ diagnosis_form.age_group }}
      </div>
      <!--another set-->
      <div class="grid grid-cols-2 gap-4">
        <div class="form-group">
          <label for="id_principal_diagnosis" class="block font-semibold"
            >Principal diagnosis</label
          >
          {{ diagnosis_form.principal_diagnosis }}
        </div>
        <!-- Add other diagnosis form fields here -->
        <div class="form-group">
          <label
            for="id_principal_diagnosis_status_of_diagnosis"
            class="block font-semibold"
            >Status of Principal diagnosis</label
          >
          {{ diagnosis_form.principal_diagnosis_status_of_diagnosis }}
        </div>
      </div>
      <div class="form-group">
        <label for="id_additional_diagnosis" class="block font-semibold"
          >Additional diagnosis</label
        >
        {{ diagnosis_form.additional_diagnosis }}
      </div>
      <!--another set-->
      <div class="grid grid-cols-2 gap-4">
        <div class="form-group">
          <label
            for="id_additional_diagnosis_status_of_diagnosis"
            class="block font-semibold"
            >Status of additional diagnosis</label
          >
          {{ diagnosis_form.additional_diagnosis_status_of_diagnosis }}
        </div>
        <!-- Add other diagnosis form fields here -->
        <div class="form-group">
          <label for="id_other_diagnosis" class="block font-semibold"
            >Other diagnosis not listed</label
          >
          {{ diagnosis_form.other_diagnosis }}
        </div>
      </div>
      <div class="form-group">
        <label
          for="id_other_diagnosis_status_of_diagnosis"
          class="block font-semibold"
          >Status of additional Diagnosis</label
        >
        {{ diagnosis_form.other_diagnosis_status_of_diagnosis }}
      </div>
      <div class="form-group">
        <label for="id_clinical_notes" class="block font-semibold"
          >Clinical Notes</label
        >
        {{ diagnosis_form.clinical_notes }}
      </div>
        <div class="col-span-2">
          <button
            type="submit" name="diagnosis_submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Add Diagnosis
          </button>
        </div>
      </div>
      
    </form>
  </div>



<div class="container mx-auto mt-8">
  <div class="card bg-white rounded-lg shadow-md p-8">
    <h3 class="text-xl font-bold mb-4">Lab Requests</h3>
    
      <!-- Lab test table content -->
      <form id="add-diagnosis-form" method="POST" class="grid grid-cols-2 gap-4">
        {% csrf_token %}
        {{ lab_test_form.non_field_errors }}

        <div class="form-group">
          <label
            for="{{ lab_test_form.type_of_lab_request.id_for_label }}"
            class="block font-semibold"
            >Type of lab request</label
          >
          {{ lab_test_form.lab_patient }}
        </div>
        
        <div class="form-group">
          <label
            for="{{ lab_test_form.type_of_lab_request.id_for_label }}"
            class="block font-semibold"
            >Type of lab request</label
          >
          {{ lab_test_form.type_of_lab_request }}
        </div>
        <div class="form-group">
          <label
            for="{{ lab_test_form.notes.id_for_label }}"
            class="block font-semibold"
            >Additonal notes</label
          >
          {{ lab_test_form.notes }}
        </div>

      <div class="col-span-2 flex justify-end mt-6 space-x-3">
        <button
        type="submit" name="lab_test_submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Request lab test
      </button>
        <a
          href="{% url 'view_all_patients' %}"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >Cancel</a
        >
      </div>
    </div>
  </div>
<!-- Lab Tests Table -->

<div class="container mx-auto mt-8">
  <div class="card bg-white rounded-lg shadow-md p-8">
    <h3 class="text-xl font-bold mb-4">Lab Requests</h3>
<div class="container mx-auto mt-8">
  <div class="card bg-white rounded-lg shadow-md p-8">
    <h3 class="text-xl font-bold mb-4">Lab Requests</h3>
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Patient Name & ID
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Type of lab request
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Notes
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Time requested
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for lab_test in lab_tests %}
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ lab_test.lab_patient }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ lab_test.type_of_lab_request }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">{{ lab_test.notes }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ lab_test.time_requested }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Initialize select2 for patient and diagnosis selection
    $("#id_patient").select2();
    $("#id_provisional_diagnosis").select2();
    $("#id_principal_diagnosis").select2();
    $("#id_additional_diagnosis").select2();
    $("#id_lab_patient").select2();
    $("#id_type_of_lab_request").select2();
    $("#id_age_group").select2();



    
  });
</script>
{% endblock %}
