{% extends 'patient_records/base.html' %} {% load static tailwind_tags %} {%
load widget_tweaks %} {% block body %}

<!--PATIENT PROFILE-->

<!--PATIENT PROFILE CARD-->
<div
  class="container mx-auto mt-8 px-4 bg-white rounded-xl shadow-md overflow-hidden"
>
  <div class="md:flex">
    <div class="md:flex-shrink-0">
      <img
        class="h-48 w-full object-cover md:w-48"
        src="/static/images/user.png"
        alt="Patient Image"
      />
    </div>

    <div class="p-8 md:grid grid-cols-2 gap-x-4">
      <div class="text-gray-900">
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
        >
          Patient ID:
          <strong class="text-2xl">{{ patient_record.patient_id }}</strong>
        </div>
        <div class="mt-2 text-3xl font-bold">
          {{ patient_record.first_name }} {{ patient_record.last_name }}
        </div>
        <div class="mt-2 text-gray-600">
          Last Date of visit: {{ patient_record.date_of_visit }}
        </div>
        <div class="mt-2 text-gray-600">
          <span class="font-bold">Address:</span> {{ patient_record.address }}
        </div>
        <div class="mt-2 text-gray-600">
          <span class="font-bold">Phone:</span> {{ patient_record.phone }}
        </div>
        <div class="mt-2 text-gray-600">
          <span class="font-bold">Age:</span> {{ patient_record.age }}
        </div>
        <div class="mt-2 text-gray-600">
          <span class="font-bold">Address:</span> {{ patient_record.address }}
        </div>
        <div class="mt-2 text-gray-600">
          <span class="font-bold">Gender:</span> {{ patient_record.gender }}
        </div>
      </div>
      <div class="col-span-4 flex justify-end mt-6 space-x-3">
        <a
          href="#"
          class="bg-blue-500 hover:bg-green-500 text-white font-bold py-2 px-4 rounded"
        >
          Edit
        </a>
        <a
          href="{% url 'view_all_patients' %}"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        >
          Go back
        </a>
      </div>
    </div>
  </div>
</div>

<!--ADD DIAGNOSIS-->

<div class="container mx-auto mt-8">
  <div class="card bg-white rounded-lg shadow-md p-8">
    <h2 class="text-2xl font-bold mb-4">
      <i class="fas fa-pen-square text-blue-500"></i> Add New Patient
    </h2>
    <form id="add-patient-form" method="POST" class="grid grid-cols-2 gap-4">
      {% csrf_token %}
      <div class="grid grid-cols-2 gap-4">
        <!-- First column -->
        <div class="form-group">
          <label
            for="{{ form.patient_id.id_for_label }}"
            class="block font-semibold"
            >Patient ID</label
          >
          {{ form.patient_id }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.first_name.id_for_label }}"
            class="block font-semibold"
            >First Name</label
          >
          {{ form.first_name }}
        </div>
        <!-- Add more fields here -->
      </div>
      <div class="grid grid-cols-1 gap-4">
        <!-- Second column -->
        <div class="form-group">
          <label
            for="{{ form.last_name.id_for_label }}"
            class="block font-semibold"
            >Last Name</label
          >
          {{ form.last_name }}
        </div>

        <!-- Add more fields here -->
      </div>
      <!--2nd set of 4 column rows-->
      <div class="grid grid-cols-2 gap-4">
        <!-- First column -->
        <div class="form-group">
          <label
            for="{{ form.other_names.id_for_label }}"
            class="block font-semibold"
            >Other names</label
          >
          {{ form.other_names }}
        </div>
        <div class="form-group">
          <label for="{{ form.age.id_for_label }}" class="block font-semibold"
            >Age</label
          >
          {{ form.age }}
        </div>
        <!-- Add more fields here -->
      </div>
      <div class="grid grid-cols-2 gap-4">
        <!-- Second column -->
        <div class="form-group">
          <label
            for="{{ form.age_group.id_for_label }}"
            class="block font-semibold"
            >Age group</label
          >
          {{ form.age_group }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.NHIS_number.id_for_label }}"
            class="block font-semibold"
            >NHIS Numner</label
          >
          {{ form.NHIS_number }}
        </div>
        <!-- Add more fields here -->
      </div>
      <!--another set-->
      <div class="grid grid-cols-2 gap-4">
        <!-- First column -->
        <div class="form-group">
          <label for="{{ form.phone.id_for_label }}" class="block font-semibold"
            >Phone</label
          >
          {{ form.phone }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.gender.id_for_label }}"
            class="block font-semibold"
            >Gender</label
          >
          {{ form.gender }}
        </div>
        <!-- Add more fields here -->
      </div>
      <div class="grid grid-cols-2 gap-4">
        <!-- Second column -->
        <div class="form-group">
          <label
            for="{{ form.client_type.id_for_label }}"
            class="block font-semibold"
            >Client type</label
          >
          {{ form.client_type }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.client_status.id_for_label }}"
            class="block font-semibold"
            >Client Status</label
          >
          {{ form.client_status }}
        </div>
        <!-- Add more fields here -->
      </div>
      <!--4th set of fields-->
      <div class="grid grid-cols-2 gap-4">
        <div class="form-group">
          <label
            for="{{ form.occupation.id_for_label }}"
            class="block font-semibold"
            >Occupation</label
          >
          {{ form.occupation }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.level_of_education.id_for_label }}"
            class="block font-semibold"
            >Level of education</label
          >
          {{ form.level_of_education }}
        </div>
        <!-- Add more fields here -->
      </div>
      <div class="grid grid-cols-2 gap-4">
        <!-- Second column -->
        <div class="form-group">
          <label
            for="{{ form.address.id_for_label }}"
            class="block font-semibold"
            >Address</label
          >
          {{ form.address }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.date_of_visit.id_for_label }}"
            class="block font-semibold"
            >Date of Visit</label
          >
          {{ form.date_of_visit }}
        </div>
      </div>
      <!--5th set of fields-->
      <div class="grid grid-cols-2 gap-4">
        <div class="form-group">
          <label
            for="{{ form.name_of_guardian.id_for_label }}"
            class="block font-semibold"
            >Name of guardian</label
          >
          {{ form.name_of_guardian }}
        </div>
        <div class="form-group">
          <label
            for="{{ form.relation_with_guardian.id_for_label }}"
            class="block font-semibold"
            >Relation with guardian</label
          >
          {{ form.relation_with_guardian }}
        </div>
        <!-- Add more fields here -->
      </div>
      <div class="grid grid-cols-2 gap-4">
        <!-- Second column -->
        <div class="form-group">
          <label
            for="{{ form.contact_of_guardian.id_for_label }}"
            class="block font-semibold"
            >Contact of Guardian</label
          >
          {{ form.contact_of_guardian }}
        </div>
        <!--<div class="form-group">
                <label
                  for="{{ form.date_of_visit.id_for_label }}"
                  class="block font-semibold"
                  >Date of Visit</label
                >
                {{ form.date_of_visit }}
              </div>-->
      </div>

      <div class="col-span-2 flex justify-end mt-6 space-x-3">
        <button
          id="submit-btn"
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Add
        </button>
        <a
          href="{% url 'view_all_patients' %}"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        >
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>

<div class="container mx-auto mt-8">
  <div class="card bg-white rounded-lg shadow-md p-8">
    <h3 class="text-xl font-bold mb-4">Service Requests</h3>
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Service Category
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Service Price
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Requested By
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Requested On
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for service_request in patient_record.service_requests.all %}
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ service_request.service_category }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ service_request.service_price }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ service_request.requested_by }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ service_request.requested_on }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
