{% extends 'patient_records/base.html' %} {% block body %}

<div class="h-screen bg-gray-100 flex">
  <!-- Vertical Navbar -->
  <div class="bg-white w-64 shadow-lg rounded-lg overflow-hidden">
    <div class="p-4">
      <h2 class="text-xl font-bold mb-4">Navigation</h2>
      <ul class="space-y-2">
        <li>
          <a
            href="#"
            class="flex items-center py-2 px-4 rounded hover:bg-gray-200"
          >
            <i class="fas fa-user mr-2"></i>
            View Client Profile
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center py-2 px-4 rounded hover:bg-gray-200"
          >
            <i class="fas fa-notes-medical mr-2"></i>
            Add Diagnosis
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center py-2 px-4 rounded hover:bg-gray-200"
          >
            <i class="fas fa-flask mr-2"></i>
            Add Lab Request
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center py-2 px-4 rounded hover:bg-gray-200"
          >
            <i class="fas fa-vial mr-2"></i>
            View Lab Results
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center py-2 px-4 rounded hover:bg-gray-200"
          >
            <i class="fas fa-prescription-bottle-alt mr-2"></i>
            Prescribe Medication
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center py-2 px-4 rounded hover:bg-gray-200"
          >
            <i class="fas fa-history mr-2"></i>
            View All Medical History
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Card div for page contents -->
  <div class="flex-grow p-8">
    <div class="bg-white shadow-lg rounded-lg p-8">
      <h1 class="text-2xl font-bold mb-4">Patient Information</h1>
      <div
        class="uppercase tracking-wide text-sm text-indigo-600 font-semibold"
      >
        Patient ID:
        <strong class="text-2xl">{{ patient_record.patient_id }}</strong>
      </div>
      <div class="mt-2 text-3xl font-bold">
        {{ patient_record.first_name }} {{ patient_record.last_name }}
      </div>
      <div class="mt-2 text-gray-600">
        Last Date of visit: {{ patient_record.date_of_visit }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">Address:</span> {{ patient_record.address }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">Age:</span> {{ patient_record.age }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">Gender:</span> {{ patient_record.gender }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">Client Type:</span> {{
        patient_record.client_type }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">Client Status:</span> {{
        patient_record.client_status }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">NHIS Number:</span> {{
        patient_record.NHIS_number }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">Occupation:</span> {{ patient_record.occupation
        }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">Level of Education:</span> {{
        patient_record.level_of_education }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">Name of Guardian:</span> {{
        patient_record.name_of_guardian }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">Relation with Guardian:</span> {{
        patient_record.relation_with_guardian }}
      </div>
      <div class="mt-2 text-gray-600">
        <span class="font-bold">Contact of Guardian:</span> {{
        patient_record.contact_of_guardian }}
      </div>
    </div>
  </div>

  {% endblock %}
</div>
