{% extends 'patient_records/base.html' %} {% block body %}
<h2 class="text-2xl font-bold mb-4 text-center">Add Staffs here</h2>

<!-- Tabs navigation -->
<div class="flex flex-wrap justify-center gap-1 mb-4 w-full">
  <button
    class="active tablinks tab-btn p-4 rounded-lg text-gray-700 font-bold w-80 hover:bg-green-600 border-indigo-400 bg-purple-400"
  >
    <a href="{% url 'view-all-staff' %}">View all Staff</a>
  </button>
  <button
    class="tablinks tab-btn p-4 rounded-lg text-gray-700 font-bold w-80 hover:bg-green-600 border-gray-400 bg-purple-400"
  >
    <a href="{% url 'add-staff' %}">Add Staff</a>
  </button>
  <button
    class="tablinks tab-btn p-4 rounded-lg text-gray-700 font-bold w-80 hover:bg-green-600 border-gray-400 bg-purple-400"
  >
    <a href="#">Statistics</a>
  </button>
</div>

<!-- Add staff content -->
<div class="container mx-auto mt-8">
  <div class="card bg-white rounded-lg shadow-md p-8">
    <h2 class="text-2xl font-bold mb-4">
      <i class="fas fa-pen-square text-blue-500"></i> Add New Staff
    </h2>
    <form
      id="add-staff-form"
      method="POST"
      enctype="multipart/form-data"
      class="grid grid-cols-4 gap-4"
    >
      {% csrf_token %}
      <table class="w-full">
        {{ form.as_p }}
      </table>
      <div class="col-span-4 flex justify-end mt-6 space-x-3">
        <button
          id="submit-btn"
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Add
        </button>
        <a
          href="{% url 'view-all-staff' %}"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          onclick="return confirm('Are you sure you want to cancel?')"
          >Cancel</a
        >
      </div>
    </form>
  </div>
</div>
{% endblock %}
