<!-- add.html -->
{% extends 'patient_records/base.html' %} {% load static tailwind_tags %} {%
load widget_tweaks %} {% block body %}
<div class="container mx-auto mt-8">
  <div class="card bg-white rounded-lg shadow-md p-8">
    <h2 class="text-2xl font-bold mb-4">
      <i class="fas fa-pen-square text-blue-500"></i> Add New Patient
    </h2>
    <form id="add-patient-form" method="POST" class="grid grid-cols-4 gap-4">
      {% csrf_token %}
      <table class="w-full">
        <tr>
          {{ form.as_p }}
        </tr>
      </table>
      <div class="col-span-4 flex justify-end mt-6 space-x-3">
        <button
          id="submit-btn"
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Add
        </button>
        <a
          href="{% url 'view_all_patients' %}"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >Cancel</a
        >
      </div>
    </form>
  </div>
</div>

{% endblock %}
