{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% tailwind_css %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-...replace_with_integrity_code_here...="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      .profile-dropdown {
        display: none;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 10;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        transition: all 0.3s;
      }

      .profile:hover .profile-dropdown {
        display: block;
      }

      .profile:hover .profile-dropdown {
        background-color: #f9fafb;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-purple-600 p-4">
      <div class="flex justify-between items-center">
        <a href="{% url 'dashboard' %}">
        <h1 class="text-white text-xl font-bold">
          DWM HEALTH MANAGEMENT SYSTEM
        </h1>
      </a>
      <ul class="flex space-x-8">
        <li><a href="{% url 'patient-records' %}" class="p-4 rounded-md bg-purple-700 hover:bg-purple-600 text-white"><i class="fa fa-home"></i></a>
        <li><a href="#features" class="p-4 bg-transparent hover:bg-blue-700 rounded-full text-yellow-300 hover:text-white">Features</a></li>
        <li><a href="#features" class="p-4 bg-transparent hover:bg-blue-700 rounded-full text-yellow-300 hover:text-white">System updates</a></li>
        
        <!--notification-->
        <div class="flex items-center">
          <div class="profile relative mr-4">
            
            <img
              src="{% static 'images/notification.png' %}"
              alt="notification Image"
              class="rounded-full w-10 h-10 cursor-pointer"
            />
            
          </div>
  <!--profile icon-->
<div class="flex items-center">
  <div class="profile relative mr-4">
    <img
      src="{% static 'images/user.png' %}"
      alt="Profile Image"
      class="rounded-full w-10 h-10 cursor-pointer"
    />
    <div class="profile-dropdown absolute shadow-md rounded-md py-2 right-0 mt-2 w-48">
      <p class="block px-4 py-2 text-gray-800 hover:bg-purple-600 hover:text-white">
        <i class="fas fa-user mr-2"></i>{{ user.username }}
      </p>
      <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-purple-600 hover:text-white">View Profile</a>
      <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-purple-600 hover:text-white">Update Profile</a>
      <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-purple-600 hover:text-white">Reset Password</a>
    </div>
  </div>
  <a class="bg-red-500 text-white py-2 px-4 rounded-md cursor-pointer" href="{% url 'user-logout' %}">Logout</a>
</div>
</div>
    </nav>
    <h2 class="text-2xl font-bold mb-4 text-center">Welcome to the Health Information Department</h2>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
    {% block body %}
        {% endblock %}