{% extends 'patient_records/base.html' %} {% block body %}
<h2 class="text-2xl font-bold mb-4 text-center">Add Departments here</h2>

<!--Tabs navigation-->
<div class="flex flex-wrap justify-center gap-1 mb-4 w-full">
  <button
    class="active tablinks tab-btn p-4 rounded-lg text-gray-700 font-bold w-80 hover:bg-green-600 border-indigo-400 bg-purple-400"
  >
    <a href="{% url 'view-all' %}">View departments</a>
  </button>
  <button
    class="tablinks tab-btn p-4 rounded-lg text-gray-700 font-bold w-80 hover:bg-green-600 border-gray-400 bg-purple-400"
  >
    <a href="{% url 'add-department' %}">Add departments</a>
  </button>
  <button
    class="tablinks tab-btn p-4 rounded-lg text-gray-700 font-bold w-80 hover:bg-green-600 border-gray-400 bg-purple-400"
  >
    <a href="#">Statistics</a>
  </button>
</div>

{% endblock %}
